.icon{
    color: #7AC7E3;
   font-size: 7rem;
    z-index: 4;
}


.icon2{
    color: #7AC7E3;
    transition: 0.2s ease;
    cursor: pointer;


}

.icon2:hover{
    transform:scale(1.1);
    transition: 0.2s ease;
    color: #0EE7B7;
    
}